<head>

    <div class="explore_header">
    <%= render 'layouts/header' %>
</div>

  </head>

  <body>
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-10">

          <div class="jumbotron">

            <h1>EXPLORE</h1>
            <div id="explore_subtitle">
            <p>Explore other pets around the world!</p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/doge.jpeg", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/1.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/2.png", size: "200x200")%>
            </div>
              </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/3.png", size: "200x200")%>
            </div>
              </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/4.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/5.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/6.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/7.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/8.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/9.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/10.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-md-3">
              <div class="grid_picture">
              <%= image_tag("explore/11.png", size: "200x200")%>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->


          </div><!--/row-->

        </div><!--/.col-xs-12.col-sm-9-->

      </div><!--/row-->

      <hr>

      <footer>
          <%= render 'layouts/footer' %>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
  </body>

