<!--USER PROFILE PAGE-->

<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>

<!--user info!-->
<div class="row">
  <aside class="col-md-4">
      <h1><%= @user.name %></h1>
    <section id="userinfopanel", class="user_info">
      <div align="center", id="userpic"><%= gravatar_for @user %></div>
      <div align="center", id="usermail"><%= @user.email %></div>
      <div align="center", id="userstats"><%= render 'shared/stats' %></div>
    </section>

<!--edit user info!-->
    <div align="center", id="edit_user_btn", ><%= link_to 'Edit user profile', edit_user_path(@user), class: "btn" %></div>

<!--PETS!-->
<!--pet list info!-->
  <section>
    <div id="pet_list">
    <h2> Pets </h2>
    <ol class="pets">
      <%= render @pets %>
    </ol>
  </div>
  </section>
  <div align="center", id="addpet_btn"><%= link_to 'Add new pet', addpet_path, class:"btn" %></div>

    </aside>

<!--POSTS!-->
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3 align="center">Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>
