<%-# This is the welcome page view -%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="center jumbotron">
<!--
      <h1>Welcome to PetBook</h1>
!-->

      <div>
       <%= link_to image_tag("logo_white.png", size: "220x110", alt: "Petbook white logo"), :class => "center_img" %></div>

       <h3>
         Connect yourself to a wonderful pet planet -
         <a href=/about>PetBook</a>
       </h3>

       <div align="center" id="frontpic" class="category">
               <img src="http://wallpapersonthe.net/wallpapers/b/3840x2400/3840x2400-cat_cat039s_paws_and_tail_photography_paw_tail-11370.jpg" />
      </div>


       <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

       <%= link_to "Explore as a Guest!", signup_path, class: "btn btn-lg btn-primary" %>
     </div>

     <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>

    </div>



  </body>
</html>
